history.yaml
citi - karta \[1373730;qif\]/
citi - priority \[1373729;qif\]/
nest \[1375691;nest-pl\]/
nest - family \[1375693;nest-pl\]/
nest - savings \[1375692;nest-pl\]/
sant \[1373702;sant-pl\]/
sant - system \[1373704;sant-pl\]/