{
  "Name": "1375683",
  "CreationDate": "2022-8-20",
  "Commands": [
    {
      "Command": "store",
      "Target": "60",
      "Value": "!timeout_download",
      "Description": ""
    },
    {
      "Command": "store",
      "Target": "20",
      "Value": "!timeout_wait",
      "Description": ""
    },
    {
      "Command": "store",
      "Target": "3000",
      "Value": "big_pause_period",
      "Description": ""
    },
    {
      "Command": "comment",
      "Target": "Credit Agricole PL login",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "store",
      "Target": "SLOW",
      "Value": "!replayspeed",
      "Description": ""
    },
    {
      "Command": "open",
      "Target": "https://ca24.credit-agricole.pl/web-ca24/login/login",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "type",
      "Target": "id=login",
      "Value": "__PLACEHOLDER__",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "id=login-user-click-button",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "type",
      "Target": "id=password",
      "Value": "__PLACEHOLDER__",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "id=login-pass-click-button",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "pause",
      "Target": "${big_pause_period}",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "comment",
      "Target": "checking statement",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"desktop-menu\"]/ul/li[4]/a/span",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"historyDetailsCol\"]/div/a[2]/span",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "onDownload",
      "Target": "",
      "Value": "true",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "linkText=Pobierz@POS=2",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "echo",
      "Target": "File downloaded: ${!LAST_DOWNLOADED_FILE_NAME}",
      "Value": "blue",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "id=logoutText",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "pause",
      "Target": "${big_pause_period}",
      "Value": "",
      "Description": ""
    }
  ]
}