{
  "Name": "1375686",
  "CreationDate": "2022-8-20",
  "Commands": [
    {
      "Command": "store",
      "Target": "60",
      "Value": "!timeout_download",
      "Description": ""
    },
    {
      "Command": "store",
      "Target": "20",
      "Value": "!timeout_wait",
      "Description": ""
    },
    {
      "Command": "store",
      "Target": "3000",
      "Value": "big_pause_period",
      "Description": ""
    },
    {
      "Command": "comment",
      "Target": "Nest Bank PL login",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "store",
      "Target": "SLOW",
      "Value": "!replayspeed",
      "Description": ""
    },
    {
      "Command": "open",
      "Target": "https://login.nestbank.pl/login",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "type",
      "Target": "id=username",
      "Value": "__PLACEHOLDER__",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"app\"]/section/main/section/div/div/div/div/button",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "XClick",
      "Target": "kkhhcy_dpi_96.png",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "type",
      "Target": "id=password",
      "Value": "__PLACEHOLDER__",
      "Description": ""
    },
    {
      "Command": "clickAndWait",
      "Target": "xpath=//*[@id=\"app\"]/section/main/section/div/div/div/div[4]/button[2]",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "pause",
      "Target": "${big_pause_period}",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "comment",
      "Target": "checking statement",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "linkText=Konta",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"sticky-header\"]/div[3]/div[2]/section/section/div/div/div/ul/li/a/div/p[2]",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"account-history\"]/div/div/div[3]/div/div[2]/div[2]/div/div/button",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "id=rw_5_listbox__option__6",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"account-history\"]/div/div[2]/div/div/ul/li/div/span/span[2]",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"account-history\"]/div/div[3]/div/div[2]/div[2]/div[2]/div/div/div/div/button",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "id=rw_8_listbox__option__1",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "onDownload",
      "Target": "",
      "Value": "true",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"account-history\"]/div/div[3]/div/div[2]/div[3]/button[2]",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "echo",
      "Target": "File downloaded: ${!LAST_DOWNLOADED_FILE_NAME}",
      "Value": "blue",
      "Description": ""
    },
    {
      "Command": "click",
      "Target": "xpath=//*[@id=\"account-history\"]/div/div[3]/div/div[2]/div[3]/button",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "clickAndWait",
      "Target": "xpath=//*[@id=\"sticky-header\"]/div[2]/ul[2]/li[3]/div/button",
      "Value": "",
      "Description": ""
    },
    {
      "Command": "pause",
      "Target": "${big_pause_period}",
      "Value": "",
      "Description": ""
    }
  ]
}